<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.layotdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mine.MyHousingActivity" />
        <activity android:name=".mine.MycollectActivity" />
        <activity android:name=".mine.MyOrderActivity" />
        <activity android:name=".mine.MyFamilyActivity" />
        <activity android:name=".mine.MySettingActivity" />
        <activity android:name=".mine.PayActivity" />
        <activity android:name=".mine.IntegralActivity" />
        <activity android:name=".mine.TicketActivity" />
        <activity android:name=".mine.UserInfoActivity" />
        <activity android:name=".mine.AddressActivity" />
        <activity android:name=".mine.NameActivity" />
        <activity android:name=".mine.NeeknameActivity" />
        <activity android:name=".mine.SignActivity" />
        <activity android:name=".serve.activity.SoliderActivity" />
        <activity android:name=".serve.activity.GuideActivity" />
        <activity android:name=".serve.activity.InformActivity" />
        <activity android:name=".serve.activity.PayManagerActivity" />
        <activity android:name=".serve.activity.BillActivity"></activity>
    </application>

</manifest>